header{
    background-color: #324A5f;
    width: auto;
    height: 175px;
    padding: 75px;
    text-align: center;
    font-size: xx-large;
}
main #topnav{
    background-color: #ccc9dc;
    width: auto;
    padding: 15px;
    text-align: left;
    font-size: x-large;
}
a{
    text-decoration-color: #324A5f;
}
h1{
    color:  #ccc9dc;
}
h4{
    color: #ccc9dc;
}
ul li{
    list-style-type: none;
    margin: 10px;
    padding: 0;
    display: inline;
}
/* *, *::before, *::after{
    box-sizing: border-box;
} */
div slideshow{
    max-width: 800px;
    height: 600px;
    position: relative;
    margin: o;
}

div MeetUs{
    display: none;
}
div fade{
    animation-name: fade;
    animation-duration: 2s;
}
.slideshow ul{
    display: flex;
    padding: 0;
    list-style: none;
}
div text{
    color: #ccc9dc;
    font-size: small;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
div text1{
    inset: 0;
    position: absolute;
    flex: 33.33%;

}
.text1>img{
    display: block;
    width: 75%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.text[data-active]{
    opacity: 1;
}
.button{
    z-index: 2;
    position: absolute;
    background: none;
    border: none;
    font-size: 4rem;
    top: 75%;
    transform: 50%;
    transform: rbga (255, 255,255, .5);
    cursor: pointer;
}
.button:hover,
.button:focus{
    color: #324A5f;
    background-color: rgba(0,0, 0, .2);
}
.button:focus{
    outline: 1px solid black;
}
.button.prev{
    left: 1rem;
}
.button.next{
    right: 1rem;
}
form{
    background-color: #324A5f;
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
input{
    width: 35%;
    height: 30px;
}
label{
    color: azure;
    font-size: large;
}
button{
    background-color: #ccc9dc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
footer{
    padding: 20px;
    width: auto;
    background-color: #324A5f;
    float: center;
}
ion-icon{
    font-size: x-large;
}
b{
    color: #ccc9dc;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
